<div class="container">
    <h4 style="margin-top: 20px;">Proyección de planta</h4>
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="form-floating">
            <input type="number" class="form-control" id="le" [(ngModel)]="le" [ngModelOptions]="{standalone: true}">
            <label for="floatingInput">LE</label>
        </div>

        <div class="form-floating">
            <input type="number" class="form-control" id="hours" [(ngModel)]="hours" [ngModelOptions]="{standalone: true}">
            <label for="floatingInput">Hours</label>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" (click)="calculate(hours, le)">Submit</button>
        </div>
    </form>
</div>

<div class="container" *ngIf="isShown" id="divshow" style="margin-top: 15px;">
    <p><small>Cosecha cada <strong>{{ hoursToDays(hours) }}</strong> días</small></p>
    <p><small>Produce <strong>{{ profitPerMonth(hours, le) }} LE</strong> mensuales</small></p>
    <p><small>Produce <strong>{{ leToPvu(hours, le) }} PVU</strong> mensuales</small></p>
</div>